@charset "utf-8";
body{
	background-color: blue;
	font-family: Cambria;
}
form {
	border-style: double;
	border-width: medium;
	border-color: yellow;
	margin-top: 100px;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 100px;
}
input {
	background: transparent;
    border-width: thin;
	border-color: yellow;
	font-family: geo;
	color: antiquewhite;
   
}
h1 {
	color: yellow;
	font-size: 160%;
}
p {
	font-size: 12pt
}
button {
	background-color: yellow;
	width: auto;
	transition-duration: 0.4s;
    
}
button:hover {
  background-color: #4CAF50;
  color: white;
}
select {
	background-color: yellow;
	transition-duration: 0.4s;
}
select:hover{
	background-color: #4CAF50;
  color: white;
}
option{
	background-color: yellow;
	transition-duration: 0.4s;
}
option:hover{
	background-color: #4CAF50;
  color: white;
}
